**
.*
!.gitignore

# Create ignore files
!mkignore

# Tmux setup session
!tmux-ss

# User containers
!usrcontainer
!user-container.containerfile

# External scripts used by others
!toggledpms.sh
!moonlight-obsvkcap.sh

# sandboxed shell
!wsh
!tmux-ws # but with tmux session setup and everything
